In [35]:
import duckdb
import pandas as pd
import matplotlib as plt

%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [36]:
sql_query = ''' 
show tables 
''' 

with duckdb.connect('data/nyc_parking_violations.db') as con: 
    display(con.sql(sql_query).df())

                             name
0  bronze_parking_violation_codes
1       bronze_parking_violations
2                     first_model
3         parking_violation_codes
4         parking_violations_2024
5                       ref_model

In [37]:
sql_query_import_1 = '''
CREATE OR REPLACE TABLE parking_violation_codes AS
SELECT *
FROM read_csv_auto(
  'data/DOF_Parking_Violation_Codes_20250620.csv',
  normalize_names=True
  )'''


sql_query_import_2 = '''
CREATE OR REPLACE TABLE parking_violations_2024 AS
SELECT *
FROM read_csv_auto(
  'data/Parking_Violations_Issued_-_Fiscal_Year_2024_20250620.csv',
  normalize_names=True
  )
'''


sql_query_3 = '''
SELECT * FROM bronze_parking_violations LIMIT 3;
'''


with duckdb.connect('data/nyc_parking_violations.db') as con:
  con.sql(sql_query_import_1)  
  con.sql(sql_query_import_2)
  con.sql(sql_query_3)